@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo, esta página ainda está em desenvolvimento!</h1>
    <p>Boa noite professor! Ainda não modifiquei essa página mas será a Home do meu E-Commerce.</p>
</div>
